.bckgnd
  .row.moveup
    .col-md-12
      #carousel-1.carousel.slide(data-ride='carousel', data-interval='5000')
        .carousel-inner
          .item.active
            .jumbotron.hero-nature.carousel-hero
              div
                .plaatje
                  img(src='../assets/img/slider/slider1.png')
                div
                  a.nohover(href= Slider1Link)
                    h1.hero-title= Slider1Titel
                  p.hero-subtitle= Slider1Sub
                  p
                    a.btn.btn-primary.btn-lg.hero-button(href= Slider1Link)= Learnmore
          .item
            .jumbotron.hero-photography.carousel-hero
              div
                .plaatje
                  img(src='../assets/img/slider/slider2.png')
                div
                  a.nohover(href= Slider2Link)
                    h1.hero-title= Slider2Titel
                  p.hero-subtitle= Slider2Sub
                  p
                    a.btn.btn-primary.btn-lg.hero-button(href= Slider2Link)= Learnmore
          .item
            .jumbotron.hero-technology.carousel-hero
              div
                .plaatje
                  img(src='../assets/img/slider/slider3.png')
                div
                  a.nohover(href= Slider3Link)
                    h1.hero-title= Slider3Titel
                  p.hero-subtitle= Slider3Sub
                  p
                    a.btn.btn-primary.btn-lg.hero-button(href= Slider3Link)= Learnmore
          .item
            .jumbotron.hero-food.carousel-hero
              div
                .plaatje
                  img(src='../assets/img/slider/slider4.png')
                div
                  a.nohover(href= Slider4Link)
                    h1.hero-title= Slider4Titel
                  p.hero-subtitle= Slider4Sub
                  p
                    a.btn.btn-primary.btn-lg.hero-button(href= Slider4Link)= Learnmore
          .item
            .jumbotron.hero-travel.carousel-hero
              div
                .plaatje
                  img(src='../assets/img/slider/slider6.png')
                div
                  a.nohover(href= Slider6Link)
                    h1.hero-title= Slider6Titel
                  p.hero-subtitle= Slider6Sub
                  p
                    a.btn.btn-primary.btn-lg.hero-button(href= Slider6Link)= Learnmore
        div
          a.left.carousel-control(href='#carousel-1', data-slide='prev')
            i.glyphicon.glyphicon-chevron-left
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-1', data-slide='next')
            i.glyphicon.glyphicon-chevron-right
            span.sr-only Next
        ol.carousel-indicators
          li.active(data-target='#carousel-1', data-slide-to='0')
          li(data-target='#carousel-1', data-slide-to='1')
          li(data-target='#carousel-1', data-slide-to='2')
          li(data-target='#carousel-1', data-slide-to='3')
          li(data-target='#carousel-1', data-slide-to='4')
