footer
  .row
    .col-md-4.col-sm-6.footer-navigation
      h3
        a(href= HomeKnop) Zannoudi
      p.links
        a(href= HomeKnop)= Home
        strong  路&nbsp
        a(href= tolklink)= Diensten
        strong  路&nbsp
        a(href= referentielink)= Referentie
        strong  路&nbsp
        a(href= cursuslink)= Cursus
        strong  路&nbsp
        a(href= contactlink)= Contact
      p.company-name= CompanyName
    .col-md-4.col-sm-6.footer-contacts
      div
        a(href='https://goo.gl/maps/iJAxp8x9z2t', target='_blank')
          span.fa.fa-map-marker.footer-contacts-icon
        p
          span.new-line-span Postbus 8, 6400 AA
          | Heerlen, Nederland
      div
        i.fa.fa-phone.footer-contacts-icon
        p.footer-center-info.email.text-left +31 63 85 32 719
      div
        a(href="mailto:info@zannoudi.nl")
          i.fa.fa-envelope.footer-contacts-icon
        p
          span.reverse ln.iduonnaz@ofni
    .clearfix.visible-sm-block
    .col-md-4.footer-about
      h4= contactpersoon
      .row
        .col-md-4
          img(src='../assets/img/Hassan-en-face-0.png', alt='Hassan', width='80px')
        .col-md-8
          div
            img.signature(src='../assets/img/Hassan.png', height='25px')
            img(src='../assets/img/HassanArrab.png', height='25px')
      .social-links.social-icons
        a(href='https://www.facebook.com/h.zannoudi' target="_blank")
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-linkedin
