include ./taal.pug
if taal == 'NL'
  include ../include/NL/var.pug
if taal == 'FR'
  include ../include/FR/var.pug
if taal == 'GB'
  include ../include/GB/var.pug
if taal == 'AR'
  include ../include/AR/var.pug

doctype html
html.no-js(lang="")
include ../include/head.pug
body
  <!--[if lt IE 10]>
  p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
  <![endif]-->
  .container
    .topblock
      #Heading.row
        .col-lg-12.Titel
          .logo
            img(src='../assets/img/Zannoudi-logo-turning-1.gif', width='80px', height='80px')
            span.hidden-xs.logo= Sinds1999
          .logotitel
            h1= Tolk
            h1.hidePhone
              img(src='../assets/img/Initiaal.png')
              | annoudi
          #vlaggen
            a(href='../NL/index.html')
              img.vlag(src='../assets/img/vlaggen/nl.png')
            a(href='../GB/index.html')
              img.vlag(src='../assets/img/vlaggen/gb.png')
            a(href='../FR/index.html')
              img.vlag(src='../assets/img/vlaggen/fr.png')
            a(href='../AR/index.html')
              img.vlag(src='../assets/img/vlaggen/ar.png')
    .containerblock
      #navbarwrapper
        nav.navbar.navbar-inverse.navigation-clean
          .container-fluid
            .navbar-header
              a.navbar-brand.navbar-link(href='index.html')
                span Zannoudi
              button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navcol-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li(role='presentation')
                  a(href='index.html')= Home
                li.dropdown
                  a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='tolk.html')= Tolk
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li(role='presentation')
                      a(href= beedigdtolkLink)= BeedigdTolk
                    li(role='presentation')
                      a(href= specdienstLink)= SpecDienst
                    li(role='presentation')
                      a(href= downloadsLink)= Downloads
                li(role='presentation')
                  a(href= referentielink)= Referentie
                li.active(role='presentation')
                  a(href= cursuslink)= Stages
                li(role='presentation')
                  a(href= contactlink)= Contact
                li.dropdown
                  a.dropdown-toggle.hidden-sm.hidden-md.hidden-lg(data-toggle='dropdown', aria-expanded='false', href='#')= Taal
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.livlag.NL(role='presentation')
                      a(href= HomeKnop) NL
                    li.livlag.GB(role='presentation')
                      a(href= HomeGBknop) GB
                    li.livlag.FR(role='presentation')
                      a(href= HomeFRknop) FR
                    li.livlag.AR(role='presentation')
                      a(href= HomeARknop) AR
      .row.moveup
        .col-md-10.col-md-offset-1
          .editcms.cushycms
            if taal == 'NL'
              include ../include/NL/html_reservering.pug
            if taal == 'FR'
              include ../include/FR/html_reservering.pug
            if taal == 'GB'
              include ../include/GB/html_reservering.pug
            if taal == 'AR'
              include ../include/AR/html_reservering.pug
      include ../include/footer.pug
      include ../include/mobile-nav.pug
  include ../include/scripts.pug
